/* ---- colors ---- */

$green: #228b22;
$blue: #81CBEB;
$black: #3D3D3D;
$orange: #EA5C30;
$bluegreen: #549797;

/* ---- font weights ---- */

$extra-light: 200;
$light: 300;
$normal: 400;
$bold: 600;
$extra-bold: 700;

/* ---- screen sizes ---- */

$xl: 1200px;
$large: 1000px;
$medium: 700px;
$small: 500px;

/* ---- transitions ---- */

$transition-normal: all 0.3s ease-in-out;