@import '../../node_modules/@braid/vue-formulate/themes/snow/snow.scss';
@import 'resources';
body {
  // background-color: $green;
  font-family: 'bahnschrift';
  section {
    padding: 8em 0;
  }
  .container {
    width: 1200px;
    margin: auto;

    @media screen and (max-width: $xl) {
      width: $large;
    }
    @media screen and (max-width: $large) {
      width: $medium;
    }
    @media screen and (max-width: $medium) {
      width: $small;
    }
    @media screen and (max-width: $small) {
      width: 90%;
    }

    .button-link__black {
      border: 2px solid $black;
      padding: 0.5em 1em;
      border-radius: 5px;
      color: $black;
      background-color: #fff;
      transition: $transition-normal;
    }

    .button-link__black:hover {
      background-color: $orange;
    }

    .button-link__black.active {
      background-color: $black;
      color: white;
    }

    .button-link__orange {
      border: 2px solid $orange;
      padding: 0.5em 1em;
      border-radius: 5px;
      color: $orange;
      transition: $transition-normal;
      cursor: pointer;
    }

    .button-link__orange:hover {
      background-color: $orange;
      color: white;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
